.text {
    margin-right: 12px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 55px;
    border-radius: 0.3rem;
    border: 1px solid #567df4;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    color: #567df4;
    box-shadow: 0 0 0 1rem transparent;
}

.large {
    font-size: 1rem;
    padding: 0.8rem 0.9rem;

}

.small {
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
}



.button:hover {
    color: white;
    background-color: #6589f7;
}