.text {
    margin-right: 12px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;
    border-radius: 0.5rem;
    border: 1px solid #567df4;
    outline: none;
    padding: 1rem 1.8rem;
    background: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    color: #567df4;
    box-shadow: 0 0 0 1rem transparent;
}

.button:hover {
    color: white;
    background-color: #6589f7;
}
