.card {
    min-height: 150px;
    width: 300px;
    border-radius: 8px;
    background-color: rgb(36, 38, 48);
    display: flex;
    font-size: 16px;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}

.buildPack {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading {
}

.card:hover {
    background-color: rgb(54, 53, 64);
    cursor: pointer;
}
