.section {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    margin-top: 4%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    margin-left: 5%;
    margin-top: 15%;
}

.heading {
    font-weight: 600;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: 1rem;
    color: #e0e1dd;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}

.right {
    width: 40%;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 20%;
}
