.firstRow,
.secondRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.firstRow {
    margin-top: 70px;
}

.secondRow {
    margin-top: 20px;
    margin-bottom: 100px;
}

.outerContainer {
    width: 48%;
    border: 1px solid grey;
    height: 360px;
}

.chartContainer {
    height: 170px;
}