.firstRow,
.secondRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.outerContainer {
    width: 48%;
    border: 1px solid grey;
    height: 360px;
}

.chartContainer {
    height: 200px;
}