.footer {
    height: 80px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(36, 38, 48, 0.2);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 47.5%;
}
