body {
    margin: 0;
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #13111c;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat/static/Montserrat-Medium.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

.input-box {
    border-color: rgb(238, 197, 197);
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    border: 1px solid transparent;
    width: 40%;
    height: 40px;
    padding-left: 3%;
    background-color: #24272bff;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-box:focus {
    border: 1px solid #ffffffaf;
    transition: 0.25s ease;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    margin-top: 8%;
}

.label {
    font-size: 16px;
    font-weight: 500;
}

.arrow {
    padding-left: 10px;
}

.subheading {
    /* padding-top: 8px; */
    opacity: 0.75;
}

table {
    font-size: 16px;
    color: white;
    border-spacing: 60px 0;
}

tr:last-child,
td:last-child {
    border-bottom: 0;
}

tr {
    font-weight: 300;
    opacity: 0.75;
    font-size: 15px;
}

th {
    color: grey;
    font-weight: 500;
}

th,
td {
    padding: 7px 10px;
}

.progress-div {
    margin-top: 6%;
    background-color: rgb(233, 233, 233);
    border-radius: 0.5rem;
}

.progress {
    background-color: rgb(62, 122, 235);
    height: 10px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}

.progress-bar {
    margin-top: 6%;
}

.AboutArea {
    margin: 2rem;
}

.tabs {
    color: white;
    width: max-content;
    display: flex;
    gap: 10px;
}

.tabs__item {
    font-size: 17px;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
    border: 0.2rem solid #13111c;
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
}

.active {
    font-weight: 600;
    border-bottom: 0.3rem solid blue;
}

.redis {
    height: 35px;
    width: 35px;
    color: #D82C20;
}

.flask {
    height: 35px;
    width: 35px;
    color: white;
}

.react {
    height: 35px;
    width: 35px;
    color: #61dbfb;
}

.fast {
    height: 35px;
    width: 35px;
    color: #429A8C;
}

.django {
    height: 35px;
    width: 35px;
    color: #0F2D1E;
    transform: scale(1.1);
}

.node {
    color: #4F9640;
    height: 35px;
    width: 35px;
}