body {
    margin: 0;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #13111c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

.input-box {
    border-color: white;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    border: 1px solid transparent;
    width: 33%;
    height: 40px;
    padding-left: 3%;
    background-color: #24272bff;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-box:focus {
    border: 1px solid #ffffffaf;
    transition: 0.25s ease;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    margin-top: 8%;
}

.label {
    font-size: 16px;
    font-weight: 500;
}

.arrow {
    padding-left: 10px;
}

.subheading {
    /* padding-top: 8px; */
    opacity: 0.75;
}

table {
    font-size: 12px;
    color: white;
    border-spacing: 60px 0;
}

tr:last-child,
td:last-child {
    border-bottom: 0;
}

th {
    color: grey;
    font-weight: 500;
}

th,
td {
    padding: 7px 10px;
}

.progress-div {
    margin-top: 6%;
    background-color: rgb(233, 233, 233);
    border-radius: 0.5rem;
}

.progress {
    background-color: rgb(62, 122, 235);
    height: 10px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}

.progress-bar {
    margin-top: 6%;
}

.AboutArea {
    margin: 2rem;
}

.tabs {
    color: white;
    border-bottom: 0.1rem solid white;
    width: max-content;
    display: flex;
    gap: 10px;
}

.tabs__item {
    cursor: pointer;
    padding: 0.3rem 0.7rem;
    border: 0.2rem solid #13111c;
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
}

.active {
    border: 0.2rem solid blue;
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
}