body {
    margin: 0;
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #07070aff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

.input-box {
    background-color: transparent;
    width: 30%;
    border-color: white;
    padding-left: 4%;
    border-radius: 8px;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    border: transparent;
    background-color: #24272bff;
    outline: none;
    line-height: 0.2em;
    height: 30px;
}

.input-box:focus {
    border-color: transparent;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    margin-top: 6%;
}

.label {
    font-size: 18px;
}

.arrow {
    padding-left: 10px;
}

.subheading {
    opacity: 0.6;
}