.container {
    color: white;
    display: flex;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.heading {
    font-size: 5rem !important;
    font-weight: 700;
    padding: 0 0 1rem;
    -webkit-font-smoothing: antialiased;
}

@keyframes text {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 100%;
    }
}
.subheading {
    margin-top: 30px;
    font-size: 32px;
}

.para {
    width: 50%;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.25px;
    color: grey;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: 3rem 0 30px;

    margin-bottom: 40px;

    @media (max-width: 1224px) {
        width: 80%;
    }
}
