.navbar {
    height: 60px;
    width: 100vw;
    position: absolute;
    top: 0;
}

.container {
    height: 60px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.heading {
    color: white;
    font-size: 24px;
    width: 60%;
    margin-left: 30px;
    font-weight: 900;
}

.link1,
.link2,
.link3 {
    color: grey;
}

.link1:hover,
.link2:hover,
.link3:hover {
    cursor: pointer;
    color: white;
}